<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%GUI_editor_graphical_editor_name"
            extensions="fui"
            icon="icons/flame.png"
            class="com.forgedui.editor.GUIEditor"
            contributorClass="com.forgedui.editor.GUIEditorActionBarContributor"
            id="org.eclipse.forgedui.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%GUI_editor_wizard_category_name"
            id="com.forgedui.category.new">
      </category>
      <category
            id="com.forgedui.category.new.ipad"
            parentCategory="com.forgedui.category.new"
            name="iPad">
      </category>
      <wizard
            category="com.forgedui.category.new"
            class="com.forgedui.editor.wizard.NewWindowCreationWizard"
            finalPerspective="com.forgedui.editor.perspective.titanium.ID"
            icon="icons/flame.png"
            id="com.forgedui.editor.wizard.new.file"
            name="%GUI_editor_example_wizard_name"
            preferredPerspectives="com.forgedui.editor.perspective.titanium.ID">
         <description>
            %GUI_editor_wizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.forgedui.category.new"
            class="com.forgedui.editor.wizard.NewDialogWizard"
            finalPerspective="com.forgedui.editor.perspective.titanium.ID"
            icon="icons/flame.png"
            id="com.forgedui.editor.wizard.dialog"
            name="%Dialogwizard.name"
            preferredPerspectives="com.forgedui.editor.perspective.titanium.ID">
          <description>
             %GUI_editor_wizard_dialog_description
          </description>
          <selection
               class="org.eclipse.core.resources.IResource">
          </selection>
      </wizard>
      <wizard
            category="com.forgedui.category.new"
            class="com.forgedui.editor.wizard.NewTabGroupWizard"
            finalPerspective="com.forgedui.editor.perspective.titanium.ID"
            icon="icons/flame.png"
            id="com.forgedui.editor.wizard.tabgroup"
            name="%Tabgroupwizard.name"
            preferredPerspectives="com.forgedui.editor.perspective.titanium.ID">
         <description>
             %GUI_editor_wizard_tabgroup_description
          </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.forgedui.category.new"
            class="com.forgedui.editor.wizard.NewPopoverWizard"
            finalPerspective="com.forgedui.editor.perspective.titanium.ID"
            icon="icons/flame.png"
            id="com.forgedui.editor.wizard.popover"
            name="%Popover.name"
            preferredPerspectives="com.forgedui.editor.perspective.titanium.ID">
         <description>
            %GUI_editor_wizard_popover_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.forgedui.category.new"
            class="com.forgedui.editor.wizard.NewSplitWindowWizard"
            finalPerspective="com.forgedui.editor.perspective.titanium.ID"
            icon="icons/flame.png"
            id="com.forgedui.editor.wizard.split.window"
            name="%SplitWindow.name"
            preferredPerspectives="com.forgedui.editor.perspective.titanium.ID">
         <description>
            %GUI_editor_wizard_split_window_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <!--wizard
            category="com.forgedui.category.new/com.forgedui.category.new.ipad"
            class="com.forgedui.editor.wizard.NewPopoverWizard"
            icon="icons/popover.gif"
            id="com.forgedui.editor.wizard.new.popover"
            name="Popover">
          <selection
               class="org.eclipse.core.resources.IContainer">
          </selection>
      </wizard-->
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.forgedui.editor.resource.contribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.forgedui.editor.actions.GenerateCodeActionDelegate"
               enablesFor="+"
               icon="icons/execute.gif"
               id="com.forgedui.editor.actions.generate"
               label="%generate.label"
               menubarPath="additions">
         </action>
         
         <!--
         <action
               class="com.forgedui.editor.actions.GeneralAction"
               enablesFor="+"
               icon="icons/execute.gif"
               id="com.forgedui.editor.actions.general"
               label="%generate.label"
               menubarPath="additions">
         </action>
         -->         
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.forgedui.editor.generatecode.action"
            targetID="org.eclipse.forgedui.editor">
         <action
               class="com.forgedui.editor.actions.GenerateCodeActionDelegate"
               icon="icons/execute.gif"
               id="com.forgedui.editor.actions.generate"
               label="%generate.label"
               toolbarPath="Normal/additions">
         </action>
   
         <action
               class="com.forgedui.editor.actions.ExportToImageActionDelegate"
               icon="icons/image_export.png"
               id="com.forgedui.editor.actions.ExportToImageAction"
               label="%export.label"
               toolbarPath="Normal/additions">
         </action>
      </editorContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
         
         <page id="EditorPreferencePage"
 			name="%GUI_editor_prefs_main_page_name"
    		class="com.forgedui.editor.preference.EditorPreferencePage">
   			</page>         
         
         <page id="EditorPreferencePageLicense"
 			name="Editor License"
    		class="com.forgedui.editor.preference.LicensePreferencePage"
    		category="EditorPreferencePage">
   			</page>
         <page
               class="com.forgedui.editor.preference.EditorPropertiesPreferencePage"
               id="com.forgedui.editor.properties"
               category="EditorPreferencePage"
               name="%Editor_Properties">
         </page>
         
         <page
               class="com.forgedui.editor.preference.CodeGenerationPreferencesPage"
               id="com.forgedui.editor.codegen.properties"
               category="EditorPreferencePage"
               name="%Code_Generation_Prefs">
         </page>
         
         <!--page
               category="EditorPreferencePage"
               class="com.forgedui.editor.preference.GridPreferencesPage"
               id="Grid preferences"
               name="Grid preferences">         
         </page-->
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.forgedui.editor.preference.EditorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.forgedui.editor.perspective.TitaniumPerspectiveFactory"
            icon="icons/flame.png"
            id="com.forgedui.editor.perspective.titanium.ID"
            name="ForgedUI">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.forgedui.editor.perspective.titanium.ID">
         <newWizardShortcut
               id="com.forgedui.editor.wizard.new.file">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.forgedui.editor.wizard.dialog">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.forgedui.editor.wizard.tabgroup">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.forgedui.editor.wizard.popover">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.forgedui.editor.wizard.split.window">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
          
</plugin>
